<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="THONGNH_Customer::ahtcustomer"
             title="Customer"
             translate="title"
             module="THONGNH_Customer"
             sortOrder="51"
             dependsOnModule="THONGNH_Customer"
             resource="THONGNH_Customer::ahtcustomer"/>

        <add id="THONGNH_Customer::user"
             title="Customer"
             translate="title"
             module="THONGNH_Customer"
             parent="THONGNH_Customer::ahtcustomer"
             sortOrder="10"
             dependsOnModule="THONGNH_Customer"
             action="ahtcustomer/user"
             resource="THONGNH_Customer::user"/>
    </menu>
</config>