<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="THONGNH_Blog::level1"
             title="THONGNH"
             translate="title"
             module="THONGNH_Blog"
             parent="Magento_Backend::content"
             sortOrder="50"
             dependsOnModule="THONGNH_Blog"
             resource="THONGNH_Blog::level1"/>

        <add id="THONGNH_Blog::level2"
             title="Blog"
             translate="title"
             module="THONGNH_Blog"
             parent="THONGNH_Blog::level1"
             sortOrder="10"
             dependsOnModule="THONGNH_Blog"
             action="blog/index"
             resource="THONGNH_Blog::level1"/>

        <add id="THONGNH_Blog::blog"
             title="Blog"
             translate="title"
             module="THONGNH_Blog"
             sortOrder="51"
             dependsOnModule="THONGNH_Blog"
             resource="THONGNH_Blog::blog"/>

        <add id="THONGNH_Blog::post"
             title="Blog"
             translate="title"
             module="THONGNH_Blog"
             parent="THONGNH_Blog::blog"
             sortOrder="10"
             dependsOnModule="THONGNH_Blog"
             action="blog/post"
             resource="THONGNH_Blog::post"/>

        <add id="THONGNH_Blog::blog_config"
             title="Configuration"
             translate="title"
             module="THONGNH_Blog"
             parent="THONGNH_Blog::blog"
             sortOrder="10"
             dependsOnModule="THONGNH_Blog"
             action="adminhtml/system_config/edit/section/blog"
             resource="THONGNH_Blog::blog_config"/>
    </menu>
</config>